/* Loader.css */
.loader-container {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%/* Full height */
}

.spinner {
    font-size: 30px;
    border: 5px solid lightgray;
    border-top: 5px solid blue; /* Customize the spinner color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Spinner animation */
}

.loading-text {
    font-size: 30px;
    margin-top: 20px;
    font-size: 20px; /* Customize the font size */
    font-weight: bold; /* Make the text bold */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
