 /* Using @layer in the index.css instead */
/* *{
  margin: 0;
  padding: 0;
} */ 

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

html{
  overflow-x: hidden;
}

:root{
  --primary-bg: #090908;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.grd-txt{
  /* background: linear-gradient(to right, #1e3a8a, #6366f1, #db2777); */
  background: linear-gradient(to right, #3730a3, #6366f1, #db2777);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.grd-txt2{
  background: linear-gradient(to right, #6366f1, #4338ca, #1e1a78);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon{
  padding: 15px;
  font-size: 1.5rem;
  border: 2px solid #141414;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  cursor: pointer;
}

.monaco-editor{
  height: 100%;
}